* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0px;
}
html {
  background-color: #fff;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
header {
  background-image: url(../images/hero\ bg\ 2.png);
  color: #00252e;
  width: 100%;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  padding-top: 48px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 116px;
}
header .top {
  max-width: 1280px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
header .top a {
  width: 200px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms ease-in-out;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #00252e;
  &:hover {
    font-size: 14px;
    line-height: 19px;
    color: #808e9a;
  }
}
header .started {
  max-width: 1270px;
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 53px;
}
header .community {
  max-width: 536px;
  height: 321px;
  color: #00252e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
h1 {
  font-size: 40px;
  line-height: 60px;
}
header .community p {
  font-size: 18px;
  line-height: 27px;
}
header .community a {
  width: 280px;
  height: 56px;
  background: #ff52c1;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
  border-radius: 28px;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 500ms ease-in-out;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  &:hover {
    background: #ff9adb;
  }
}
header .image-top {
  max-width: 680px;
  width: 100%;
  height: 482px;
  position: relative;
}
header .image-top-a {
  position: absolute;
  top: 0;
  left: 0;
}
header .image-top-b {
  position: absolute;
  right: 0;
  bottom: 0;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-block: 170px 344px;
}
.container {
  max-width: 1232px;
  width: 100%;
  height: 440px;
  background-color: #fff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 165px;
  position: relative;
}
.container h2 {
  font-size: 28px;
  line-height: 42px;
  padding-bottom: 16px;
  color: #00252e;
}
.container p {
  font-size: 18px;
  line-height: 27px;
  color: #808e9a;
}
.text {
  width: 490px;
  height: 140px;
}
div.img-block {
  width: 440;
  height: 440;
}
.conversations {
  order: 1;
}
footer {
  width: 100%;
  height: 420px;
  background-color: #00252e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 100px 70px;
  position: relative;
}
.ready {
  width: 800px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: center;
  transform: translateY(-65%);
}
.ready a {
  width: 280px;
  height: 56px;
  background: #ff52c1;
  box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
  border-radius: 40px;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 500ms ease-in-out;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  &:hover {
    background: #ff9adb;
  }
}
article {
  max-width: 1240px;
  height: 210px;
}
footer img {
  padding-bottom: 32px;
}
footer .bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 153px;
  background-color: #00252e;
  color: #fff;
}
footer .bottom a {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}
footer .bottom .contact {
  max-width: 380px;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.bottom .contact .sp {
  padding-inline-start: 40px;
  position: relative;
}
a.address::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-location.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -120%);
}
a.tel::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-phone.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -35%);
}
a.email::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-email.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -35%);
}
.bottom-menu {
  width: 292px;
  line-height: 27px;
  display: flex;
  justify-content: center;
  gap: 135px;
}
.bottom-menu .flx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
}
.last-column {
  width: 262px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 105px;
}
.socmed {
  width: 120px;
  height: 30px;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: flex-start;
  text-align: center;
  gap: 12px;
}
.socmed a svg {
  width: 32px;
  height: 32px;
}
a svg:hover path {
  fill: #ff52c1;
}
.last-column p {
  font-size: 12px;
  line-height: 18px;
}
